{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<div class="container">  
    <div class="row mt-5 mb-3">  
      <div class="col-md-12 d-flex justify-content-between align-items-center">  
        <div class="d-inline">  
          <h1 class="mb-0">{{ destination.name }}</h1>  
          <p>Popular Destination</p>  
        </div>  
 
        <div class="text-end">  
          <p class="mb-0">1 AUD equals</p>  
          <h2 id="exchange-rate">0.62 {{ destination.currency }}</h2>  
        </div>  
      </div>  
    </div>  
 
    <!-- Destination --> 
    <div class="row">  
      <div class="col-md-12">  
        <div class="card my-3">  
          <div class="card-body">  
            <div class="d-flex">  
              <img class="align-self-start me-3" src="{{ destination.image }}" style="max-width: 250px;">  
              <div class="media-body">  
                <p class="font-weight-bold text-muted">Stay 2 nights</p>  
                <h5 class="mt-0">{{ destination.name }}</h5>  
                <p>{{ destination.description }}</p>  
                <a href="#" class="btn btn-danger">Book Now</a>  
              </div>  
            </div>  
          </div>  
        </div>  
      </div>  
    </div>
    
    <hr>

    <!-- Comments -->  
    <div class="comments" style="padding-left: 55px; padding-right: 55px;">
      <div class="row">  
        <div class="col-md-12">  
          <h2>Comments</h2>  
        </div>  
      </div>  
  
      <div class="row border-bottom">
        <div class="col-md-12">  
        {{ render_form(form,"/destinations/{0}/comment".format(destination.id)) }}
        
        {% for comment in destination.comments %}
          <b>{{ comment.user.name }} <span class="ms-2 text-muted">{{ comment.created_at.strftime('%Y-%m %H:%M') }}</span></b>
          <p>{{ comment.text }}</p>  
        </div> 
        {% endfor %} 
      </div>  
    </div>
  </div>

{% endblock %}
